<div class="container">

<div class="row">


<div class="col-12 text-center pt-5">

<h1>
<i class="bi bi-qr-code"></i>
<br>
QR code generator
</h1>
</div>

<div class="col-12 text-center pb-5">
<h4>For WiFi network</h4>
</div>

<div class="col-lg-4 offset-lg-4">
<form action="/wifi">
  <div class="mb-3 text-center">
    <label for="network" class="form-label">Network name:</label>
    <input type="text" class="form-control" id="network" name="ssid">
  </div>
  <div class="mb-3 text-center">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="pw">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto pt-2">
  <button type="submit" class="btn btn-outline-light mt-3">Submit</button>
  </div>
</form>
</div>




</div>
</div>
