<div class="row justify-content-center">


<div class="col-md-12 text-center p-5">
<div class="pb-3">
    <i class="fs-1 bi bi-qr-code-scan"></i>
    </div>
    <h2>
    Your QR Code
    </h2>
    <p class="pt-2 fs-4">For network "<%= @ssid %>"</p>
</div>

<div class="col-md-4 text-center">
<div class="text-center">

  <div class="card-body">

  <%= @svg.html_safe %>
    

  </div>

</div>

      <a href="/" class="btn btn-outline-dark mt-5">Go back</a>
</div>


</div>
